* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 
}

.container {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #cecece;
}

.wrapper {
 width: 780px;
 height: 80vh;
}

.heading {
 text-align: center;
}

.question-container {
 padding: 1rem;
 background-color: #fff;
 width: 100%;
 height: fit-content;
 margin-top: 3rem;
 margin-bottom: 1.5rem;
}


hr {
 margin: 10px;
}

.questions {
 display: flex;
 justify-content: space-between;
 
}

.questions i {
font-size: 1.5rem;
}


.minusBtn {
 display: none;
}

.text {
 display: none;
}

/* show text */

.show .plusBtn {
display: none;
}

.show .minusBtn  {
 display: inline-block;
}

.show .text {
 display: block;
}